*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Outfit;
    background: linear-gradient(#ffdad5,#fff7f9);
}
.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content:space-evenly ;
}
.content-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.content-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}
.content-left-title hr{
   border: none;
   width: 120px;
   height: 5px;
   background-color: #a363aa;
   border-radius: 10px;
   margin-bottom: 20px; 
}
.content-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.content-left textarea{
    height: 140px;
    padding: 15px;
    border-radius: 20px;
}
.content-inputs:focus{
    border: 2px solid #ff994f;
}
.content-inputs::placeholder{
    color: #a9a9a9;
}
.content-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}
.content-left button img{
    height: 15px;
}
.content-right img{
    width: 500px;
}
@media (max-width:800px){
    .content-inputs{
        width: 80vw;
    }
    .content-right{
        display: none;
    }
}